.EditPassword{
    display:flex;
    flex-direction:column;
    width:300px;
    left: 50%;
    top: 150%;
    position: absolute;
}
.EditPassword{
    font-size: 20px;
}
.EditPassword input {
    border: 1px solid rgb(221, 221, 221);
    border-radius: 5px;
    margin-bottom: 10px;
}
.EditPassword .submit_password{
    text-align: right;
}
.submit_password button{
    width: 75px;
    height: 30px;
    border: 1px solid rgb(221,221,221);
    border-radius: 7px;
    font-size: 15px;
    background-color: rgb(194, 252, 189);
}