.CheckedPassword{
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    width: 100%;
}
.CheckedPassword .check_password{
    font-size: 20px;
    margin-bottom: 10px;
    color: rgb(99, 99, 99);
}
.CheckedPassword input {
    width: 300px;
    height: 30px;
    border-bottom: 3px solid rgb(235, 235, 235) !important;
    box-shadow: 2px 3px 5px 0px rgb(222, 222, 222) !important;
    border: 1px solid rgb(244,244,244);
    margin-bottom: 10px;

}
.CheckedPassword button{
    width: 75px;
    border: none;
    background-color: rgb(194, 252, 189);
}
.profile_tab{
    position: relative;
    animation-name: slide;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
@keyframes slide {
    from{
        left: 300px;
        opacity: 0.3;
        transform:rotateX(30deg);
        
    }
    to{
        left: 0px;
    }
}