.EditPassword{
    display:flex;
    flex-direction:column;
    width:300px;
    left: 50%;
    top: 150%;
    position: absolute;
}
.EditPassword{
    font-size: 20px;
}
.EditPassword input {
    border: 1px solid black;
}