.hero_Main{
    width: 900ox;
    height: 397px;
    text-align:center;
}
.rank{
    width: 900px !important;
    height: 397px;
}
.rank img{
    width: 900px;
    height: 397px;
    margin: 0 auto;
    object-fit: contain;
}