
.add_title title{

}
.add_title input{
    margin-top: 5px;
    width: 200px;
    height: 40px;
    padding: 0.3rem 0.1rem;
    padding-left: 0.7rem;
    margin-bottom: 5px;
    background-color: #282830;
    border: 1px solid #515163;
    border-radius: 0.3rem;
    outline: none;
    color: aliceblue;
}
input :focus{
    color: none;
}

.add_description .description{
    width: 100px;
}
.add_description textarea{
    width: 464px;
    height: 160px;
    padding: 0.5rem 0.3rem;
    padding-left: 0.7rem;
    outline: none;
    resize: none;
    background-color: #282830;
    border: 1px solid #515163;
    border-radius: 0.3rem;
    margin-top: 10px;
    color: aliceblue;
}
.add_profile{
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.add_profile img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid white;
    margin: 0 auto;
    background-size: cover;
}
