.Profile_imgboxs img {
    border: 1px solid rgb(218, 218, 218);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    color: black;
    background-size: cover;
}
.Profile_imgboxs{
    width: 250px;
}

.Setting_Profile {
    display: flex;
    width: 70%;
    margin: 0 auto;
    margin-top: 5%; 
    position: relative;
}

.Profile_imgBtn{
    text-align: center;
    margin-top: 20px;
}
.Profile_imgBtn .imgBtn_reset , .imgBtn_submit{
    width: 75px;
    height: 35px;
    border: none;
    border-radius: 10px;
}
.imgBtn_reset{
    margin-right: 20px;
    background-color: rgb(255, 101, 101);
    color: white;
}
.imgBtn_submit{
    background-color: rgb(134, 160, 212);
    color: rgb(255, 255, 255);
}

.Setting_Userinfo{
    margin: 0 auto;
    margin-left: 8%;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
}
.Setting_Userinfo input{
    width: 300px;
    border: 1px solid rgb(222,222,222);
    padding: 0.5rem;
    border-radius: 10px;
}
.Setting_Userinfo div{
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 700;
    color: rgb(90,90,90);
}
.Setting_Userinfo textarea{
    width: 400px;
    border: 1px solid rgb(222,222,222);
    resize: none;
    border-radius: 10px;
    padding: 0.5rem;
    margin-top: 0px !important;
}


/* 카테고리 */
.Cate_form{
    width: 1000px;
    margin: 0 auto;
    border: 1px solid black;
    margin-top: 50px;
    margin-bottom: 70px;
}

.Cate_form > .Search_category {
    height: 44px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.Search_categoryname{
    width: 15%;
    text-align: left;
    padding: 0.8rem 0.9rem;
    font-weight: bold;
    border-right: 1px solid black;
    background-color: rgb(84, 95, 118);
    color: white;
}

.Search_catrgorylist{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgb(225, 225, 225);
    list-style: none;
}
.Search_catrgorylist div{
    width: max-content;
    height: 29px;
    margin-left: 20px;
    font-weight: 500;
    border-radius: 0.7rem;
    padding: 0.3rem 0.5rem;
    font-size: 14px;
}
.select_category{
    width: max-content;
    height: 20px;
    margin-left: 30px;
    font-weight: 500;
    background-color: rgb(203, 203, 203);
    padding: 1rem 0.5rem;
}
.setting_infobtn{
    position: relative;
    text-align: right;
    right: 150px;
}
.setting_infobtn button{
    width: 100px;
    height: 40px;
}

.notMaster{
    width: 100%;
    text-align: center;
    color: red;
    font-size: 25px;
}