.Profile_imgbox input {
    border: 1px solid;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    color: black;
}

.Setting_Profile {
    display: flex;
    width: 70%;
    margin: 0 auto;
    margin-top: 5%;
    position: relative;
}

.Setting_Userinfo{
    margin: 0 auto;
    padding-top: 5%;
    margin-left: 8%;
}
.Setting_Userinfo div{
    width: 300px;
}