.userProfile_edit{
    position: absolute;
    top: 100%;
}

.Profile_imgbox input {
    border: 1px solid;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    color: black;
}
.Profile_imgbox img {
    object-fit: cover;
}

.Setting_Userinfo > p{
    width: 300px;
    border: 1px solid rgb(222,222,222);
    border-radius: 10px;
    margin-top: 20px;
}
.Setting_Userinfo > div{
    font-size: 20px;
    font-weight: 400;
}