.Profile_imgbox input {
    border: 1px solid;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    color: black;
}

.EditProfile {
    display: flex;
    width: 30%;
    margin: 0 auto;
    top: 100%;
    position: absolute;
    left: 30%;
}

.Edit_userinfo{
    margin: 0 auto;
    padding-top: 8%;
    margin-left: 8%;
}
.Edit_userinfo div{
    width: 300px;
}